
@{
    ViewBag.Title = "BaoHanh";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<style>
    body {
        background-color: #ffffff;
    }

    section{
        padding:8px 10%;
        max-width:65%;
        margin:0 auto;
    }

        body p {
            font-family: 'Times New Roman', Times, serif;
            padding-left: 20px;
            font-size: 1.5rem;
        }

    .line {
        font-family: 'Times New Roman', Times, serif;
        padding-left: 20px;
        
        font-size: 1.5rem;
    }
</style>





<body style="background-color:antiquewhite;">

    <p style="margin-bottom: 0.11in;" align="center"><span style="font-family: Times New Roman,serif;"><span style="font-size: x-large;"><strong>CHÍNH SÁCH BẢO HÀNH VÀ ĐỔI TRẢ</strong></p>
    <p>Khi mua gấu bông, bạn không chỉ quan tâm đến chất lượng, giá cả mà còn quan tâm đến chính sách sau bán hàng. Nhằm phục vụ khách hàng tốt hơn, Gaubong.com mang đến chính sách bảo hành hoặc đổi trả, linh hoạt nhằm giúp khách hàng có được sản phẩm ưng ý nhất.</p>
    <p>Là đơn vị kinh doanh gấu bông nhiều năm tại thị trường Việt Nam, quyền lợi và mong muốn của khách hàng luôn được Shop đặt lên hàng đầu. Mang lại lợi ích và sự hài lòng cho khách hàng luôn là tôn chỉ hoạt động của Gaubong.com</p>

    <div style="font-family: 'Times New Roman', Times, serif; padding-left: 20px; padding: 8px 16px; font-size: 1.5rem;"><span style="font-size: 18pt; color: #000000"><strong>I. Chính Sách Đổi-Trả </strong></span></div>

    <p><span style="color: #000000">Quý khách có thể thực hiện đổi trả hàng miễn phí trong vòng 03 ngày kể từ ngày mua hàng trong các trường hợp sau:</span></p>
    <ul>
        <li class="line"><span style="color: #000000"><strong>Sản phẩm không giống hình ảnh trên website:</strong>&nbsp;Hoàn tiền 100%, miễn phí vận chuyển hàng trả lại.</span></li> <br />
        <li class="line"><span style="color: #000000"><strong>Sản phẩm bị lỗi kỹ thuật:</strong>&nbsp;Hoàn tiền 100%, miễn phí vận chuyển hàng trả lại.</span></li> <br />
        <li class="line"><span style="color: #000000"><strong>Sản phẩm không ưng ý theo nhu cầu sử dụng của mình:</strong> Giá trị hàng muốn lấy mới phải lớn hơn hoặc bằng giá trị hàng đổi trả (quý khách vui lòng thanh toán phí vận chuyển nếu có phát sinh thêm)</span></li> <br />
    </ul>

    <p><span style="color: #000000"><em>Trong trường hợp hết hàng đổi, quý khách vui lòng nhận sản phẩm khác có giá trị tương đương.</em></span></p>

    <p><span style="font-size: 18pt; color: #000000"><strong>II. Chính Sách Bảo Hành</strong></span></p>

    <p><span><strong>Điều kiện áp dụng:</strong></span></p>

    <p><span>– Khách hàng vui lòng xuất trình hóa đơn mua hàng (<em>ảnh chụp lại hóa đơn</em>). Hoặc có tin nhắn/ inbox chứng minh mua sản phẩm tại shop</span></p>

    <p><span>– Sản phẩm được&nbsp;<strong>bảo hành miễn phí</strong>&nbsp;trong suốt thời gian sử dụng trong các trường hợp sau:</span></p>

    <ul>
        <li class="line"><span>Gấu bục rách, đứt chỉ trong quá trình sử dụng.</span></li> <br />
        <li class="line"><span>Các chi tiết trang trí, phụ kiện (nơ,hoa đính ) bị rơi hoặc lỏng.</span></li> <br />
        <li class="line"><span>Không &nbsp;bảo hành sản phẩm đối với các trường hợp:&nbsp; Phụ kiện mắt mũi , nơ mất hẳn.</span></li> <br />
    </ul>

    <p><span><strong>BẢO HÀNH 6 THÁNG VỀ CHẤT LƯỢNG BÔNG</strong>: nếu bị xẹp cửa hàng sẽ hỗ trợ đánh tơi bông hoặc nhồi thêm bông.</span></p>

    <p>Nếu trong quá trình sử dụng, quý khách có bất kỳ lý do nào chưa hiểu về cách vệ sinh, bảo quản gấu… quý khách có thể gọi điện cho chúng tôi theo số hotline hoặc tới trực tiếp cửa hàng để được đội ngũ nhân của shop tư vấn một cách chi tiết, tỉ mỉ mà không mất bất cứ khoản phụ phí nào.</p>
</body>


