
@{
    ViewBag.Title = "bmtt";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 style="text-align:center; font-size:35px;">
        CHÍNH SÁCH BẢO MẬT THANH TOÁN
    </h1>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;">
        1. Sự Chấp Thuận
    </h3>
    <p style="margin-bottom: 15px; margin: 15px; font-size: 20px; font-family: 'Times New Roman';">
        Hệ thống thanh toán thẻ được cung cấp bởi các đối tác thanh toán (“Đối tác cổng thanh toán”) đã được cấp phép hoạt động hợp pháp tại Việt Nam. Theo đó, các tiêu chuẩn bảo mật thanh toán thẻ tại cửa hàng đảm bảo tuân thủ theo các tiêu chuẩn bảo mật ngành.
    </p>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;">
        2. Quy định bảo mật
    </h3>
    <p style="margin-bottom: 15px; margin: 15px; font-size: 20px; font-family: 'Times New Roman';">
        Chính sách giao dịch thanh toán bằng thẻ quốc tế và thẻ nội địa (internet banking) đảm bảo tuân thủ các tiêu chuẩn của các Đối tác cổng thanh toán gồm:
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Thông tin tài chính của khách hàng sẽ được bảo vệ trong suốt quá trình giao dịch bằng giao thức SSL (Secure Sockets Layer) bằng cách mã hóa tất cả các thông tin khách hàng nhập vào.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Chứng nhận tiêu chuẩn bảo mật dữ liệu thông tin thanh toán (PCI DSS) do Trustwave cung cấp.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Mật khẩu sử dụng một lần (OTP) được gửi qua SMS để đảm bảo việc truy cập tài khoản được xác thực.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Tiêu chuẩn mã hóa MD5 12 bit.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo quy định của Ngân hàng Nhà nước Việt Nam.
    </p>
    <p style="margin-bottom: 15px; margin: 15px; font-size: 20px; font-family: 'Times New Roman';">
        Chính sách bảo mật giao dịch trong thanh toán của cửa hàng áp dụng với khách hàng:
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Cửa hàng cung cấp tiện ích lưu giữ Token – chỉ lưu giữ chuỗi đã được mã hóa bởi Đối Tác Cổng Thanh Toán cung cấp cho cửa hàng. <b>Cửa hàng không trực tiếp lưu giữ thông tin thẻ khách hàng.</b> Việc bảo mật thông tin thẻ thanh toán khách hàng được thực hiện bởi Đối Tác Cổng Thanh Toán đã được cấp phép.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Đối với thẻ quốc tế, thông tin thẻ thanh toán của khách hàng mà có khả năng sử dụng để xác lập giao dịch không được lưu trên hệ thống của cửa hàng. Đối Tác Cổng Thanh Toán sẽ lưu trữ và bảo mật.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Đối với thẻ nội địa (internet banking), cửa hàng chỉ lưu trữ mã đơn hàng, mã giao dịch và tên Ngân hàng.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Trong trường hợp khách hàng có bất kỳ thông báo hoặc khiếu nại nào về tình trạng thông tin thanh toán của khách hàng khi mua hàng qua website/ ứng dụng của cửa hàng bị thay đổi, xóa, hủy, sao chép, tiết lộ, di chuyển trái phép hoặc bị chiếm đoạt gây thiệt hại cho khách hàng thì chúng tôi sẽ nỗ lực phối hợp với Đối Tác Cổng Thanh Toán để tìm hiểu vấn đề và hỗ trợ xử lý cho đến khi hoàn tất vấn đề khách hàng đang đang gặp phải.
    </p>
    <p style="margin-bottom: 15px; margin: 15px; font-size: 20px; font-family: 'Times New Roman';">
        Chúng tôi cam kết đảm bảo thực hiện nghiêm túc các biện pháp bảo mật cần thiết cho mọi hoạt động thanh toán thực hiện qua website/ ứng dụng của cửa hàng.
    </p>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;"> 
        3. Hiệu Lực
    </h3>
    <p style="margin-bottom: 15px; margin: 15px; font-size: 20px; font-family: 'Times New Roman';">
        Chính Sách Bảo Mật Thanh Toán này được cập nhật và có hiệu lực từ ngày 01/06/2024.
    </p>
    <p style="margin-bottom: 15px; margin: 15px; font-size: 20px; font-family: 'Times New Roman';">
        Chúng tôi có thể điều chỉnh Chính Sách này vào bất kỳ thời điểm nào, và đăng tải công khai Chính Sách đã được điều chỉnh trên website. Việc khách hàng tiếp tục sử dụng dịch vụ của chúng tôi mà không có bất kỳ khiếu nại nào đối với Chính Sách được điều chỉnh sẽ được hiểu rằng khách hàng đã chấp thuận Chính Sách được điều chỉnh đó của cửa hàng.
    </p>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;">
        ĐẠI DIỆN CÔNG TY CỔ PHẦN PHÁT HÀNH GẤU BÔNG TP HCM
    </h3>
    <p style="margin-bottom: 15px; margin: 15px; font-size: 20px; font-family: 'Times New Roman';">
        [Đã ký và đóng dấu]
    </p>
</body>
</html>

