
@{
    ViewBag.Title = "dksd";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        html, body{
            background-color:antiquewhite
        }
        section {
            padding: 8px 10%;
            max-width: 65%;
            margin: 0 auto;
        }
        body p {

            padding-left: 20px;
            font-size: 1.5rem;
        }
    </style>

</head>
<body class="dksd">
    <h1 style="text-align: center; font-size: 35px; font-family: 'Times New Roman' ">ĐIỀU KHOẢN SỬ DỤNG</h1>
    <p style="font-family: 'Times New Roman'; font-size: 20px; margin: 20px; margin-bottom: 15px;">
        Chào mừng quý khách đến mua sắm tại đây. Sau khi truy cập vào website để tham khảo hoặc mua sắm, quý khách đã đồng ý tuân thủ và ràng buộc với những quy định của chúng tôi. Vui lòng xem kỹ các quy định và hợp tác với chúng tôi để xây dựng 1 website ngày càng thân thiện và phục vụ tốt những yêu cầu của chính quý khách.
    </p>
    <h3 style="color: #333; font-size: 25px; font-family: 'Times New Roman'">1. Chấp Nhận Điều Khoản</h3>
    <p style="font-family: 'Times New Roman'; font-size: 20px; margin: 20px; margin-bottom: 15px;">
        Bằng cách truy cập và sử dụng trang web của chúng tôi, bạn đồng ý tuân thủ tất cả các điều khoản và điều kiện được quy định ở đây.
    </p>
    <h3 style="color: #333; font-size: 25px; font-family: 'Times New Roman'">2. Sản Phẩm</h3>
    <p style="font-family: 'Times New Roman'; font-size: 20px; margin: 20px; margin-bottom: 15px;">
        Các sản phẩm được bán trên trang web của chúng tôi được mô tả một cách chính xác và chi tiết. Tuy nhiên, chúng tôi không đảm bảo rằng thông tin là hoàn toàn chính xác hoặc không có lỗi.
    </p>

    <h3 style="color: #333; font-size: 25px; font-family: 'Times New Roman'">3. Đặt Hàng và Thanh Toán</h3>
    <p style="font-family: 'Times New Roman'; font-size: 20px; margin: 20px; margin-bottom: 15px;">
        Bạn có trách nhiệm đảm bảo thông tin đặt hàng và thanh toán của bạn là chính xác. Chúng tôi có quyền từ chối hoặc hủy bỏ bất kỳ đơn hàng nào.
    </p>

    <h3 style="color: #333; font-size: 25px; font-family: 'Times New Roman'" >4. Chính Sách Hoàn Trả</h3>
    <p style="font-family: 'Times New Roman'; font-size: 20px; margin: 20px; margin-bottom: 15px;">
        Chúng tôi có chính sách hoàn trả trong vòng 30 ngày đối với các sản phẩm bị lỗi hoặc không đúng với mô tả. Vui lòng xem thêm trong phần Chính sách hoàn trả của chúng tôi.
    </p>

    <h3 style="color: #333; font-size: 25px; font-family: 'Times New Roman'" >5. Quyền Sở Hữu Trí Tuệ</h3>
    <p style="font-family: 'Times New Roman'; font-size: 20px; margin: 20px; margin-bottom: 15px;">
        Tất cả nội dung trên trang web, bao gồm nhưng không giới hạn ở văn bản, hình ảnh, logo, và thiết kế đều thuộc quyền sở hữu trí tuệ của chúng tôi và bị bảo vệ bởi luật sở hữu trí tuệ.
    </p>

    <h3 style="color: #333; font-size: 25px; font-family: 'Times New Roman'" >6. Thay Đổi Điều Khoản</h3>
    <p style="font-family: 'Times New Roman'; font-size: 20px; margin: 20px; margin-bottom: 15px;" >
        Chúng tôi có quyền sửa đổi các điều khoản này bất cứ lúc nào. Bạn nên thường xuyên kiểm tra trang này để biết thông tin cập nhật.
    </p>

    <h3 style="color: #333; font-size: 25px; font-family: 'Times New Roman'" >7. Liên Hệ</h3>
    <p style="font-family: 'Times New Roman'; font-size: 20px; margin: 20px; margin-bottom: 15px;">
        Nếu bạn có bất kỳ câu hỏi nào về điều khoản sử dụng này, vui lòng liên hệ với chúng tôi qua địa chỉ email: support@example.com.
    </p>
    <p style="font-size: 30px; font-family: 'Times New Roman'"><b>Cảm ơn bạn đã ghé thăm trang web của chúng tôi!</b></p>
    <h3 style="color: #333; font-size: 25px;" >
        ĐẠI DIỆN CÔNG TY CỔ PHẦN PHÁT HÀNH GẤU BÔNG TP HCM
    </h3>
    
</body>
</html>

