
@{
    ViewBag.Title = "gtch";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 style="text-align:center; font-size:35px;">GIỚI THIỆU CỬA HÀNG</h1>
    <h2 style="text-align:center; font-size:30px;">THÔNG TIN CỦA CỬA HÀNG</h2>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;">Nguồn nhân lực</h3>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Để xây dựng Thương hiệu mạnh, một trong những định hướng quan trọng hàng đầu của chúng tôi là chiến lược phát triển nguồn nhân lực - mấu chốt của mọi sự thành công.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Chúng tôi có hơn 2.200 CB-CNV, trình độ chuyên môn giỏi, nhiệt tình, năng động, chuyên nghiệp. Lực lượng quản lý của chúng tôi có thâm niên công tác, giỏi nghiệp vụ nhiều kinh nghiệm, có khả năng quản lý tốt và điều hành đơn vị hoạt động hiệu quả.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Kết hợp tuyển dụng nguồn nhân lực đầu vào có chất lượng và kế hoạch bồi dưỡng kiến thức, rèn luyện bổ sung các kỹ năng và chuẩn bị đội ngũ kế thừa theo hướng chính qui thông qua các lớp học ngắn hạn, dài hạn; các lớp bồi dưỡng CB-CNV được tổ chức trong nước cũng như ở nước ngoài đều được lãnh đạo đặc biệt quan tâm và tạo điều kiện triển khai thực hiện. Chính vì thế, trình độ chuyên môn của đội ngũ CB-CNV ngày càng được nâng cao, đáp ứng nhu cầu ngày càng tăng của công việc cũng như sự phát triển của xã hội đang trên đường hội nhập.
    </p>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;">Hệ thống Cửa hàng Gấu Bông chuyên nghiệp</h3>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Mạng lưới phát hành của Công ty Gấu Bông rộng khắp trên toàn quốc, gồm 5 Trung tâm, 1 Xí nghiệp và với gần 60 cửa hàng trải dọc khắp các tỉnh thành từ TP.HCM đến Thủ Đô Hà Nội, miền Trung, Tây Nguyên, miền Đông và Tây Nam Bộ như: Hà Nội, Vĩnh Phúc, Hải Phòng, Thanh Hóa, Hà Tĩnh, Huế, Đà Nẵng, Quảng Nam, Quảng Ngãi, Quy Nhơn, Nha Trang, Gia Lai, Đăklăk, Bảo Lộc - Lâm Đồng, Ninh Thuận, Bình Thuận, Bình Phước, Bình Dương, Đồng Nai, Vũng Tàu, Long An, Tiền Giang, Bến Tre, Vĩnh Long, Cần Thơ, Hậu Giang, An Giang, Kiên Giang, Sóc Trăng, Cà Mau.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Năm 2004 Công ty đã được Cục Sở hữu Việt Nam công nhận sở hữu độc quyền tên thương hiệu.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Năm 2012 Chúng tôi là Doanh nghiệp nằm trong Top 10 nhà bán Gấu Bông hàng đầu Việt Nam. Đặc biệt năm 2006, 2009, 2012 cửa hàng đạt danh hiệu Top 500 Nhà bán lẻ hàng đầu Châu Á Thái Bình Dương, giải thưởng được tạp chí Retail Asia (Singapore) bình chọn.
    </p>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;">Kinh nghiệm hoạt động</h3>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Là đơn vị có gần 40 năm kinh doanh và phục vụ xã hội, nên chúng tôi đã tích lũy được nhiều kinh nghiệm trong việc nghiên cứu thị trường, phân tích tài chính, định hướng phát triển, hoạch định chiến lược kinh doanh và khả năng tiếp thị giỏi.
    </p>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Chúng tôi luôn là đơn vị đi tiên phong trong nhiều hoạt động xã hội, điển hình là việc tham gia tổ chức các sự kiện về Gấu ở TP.HCM.
    </p>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;">Xí nghiệp</h3>
    <p style="margin: 25px; font-size: 20px; font-family: 'Times New Roman';">
        • Gồm Phân xưởng sản xuất và Phân xưởng thành phẩm: với nhiều máy làm vải bông hiện đại của Đức và Nhật: Heidelberg, Komori, Akiyama, Lithrone, Mitsubishi… cùng nhiều máy móc, thiết bị khác như: máy ép hơi...  Đội ngũ công nhân tay nghề cao, đã cho ra những sản phẩm có chất lượng tốt, nhờ đó, chúng tôi luôn chủ động được nguồn hàng, sản xuất theo đúng nhu cầu - thị hiếu của khách hàng và hình thành được quy trình sản xuất; phương thức này không chỉ cho ra những sản phẩm đảm bảo chất lượng mà còn giúp cho việc giảm giá thành, tăng hiệu quả cạnh tranh và kinh doanh cao hơn.
    </p>
    <h3 style="color: #333; font-size: 25px; margin-bottom: 15px; margin: 15px;">
        ĐẠI DIỆN CÔNG TY CỔ PHẦN PHÁT HÀNH GẤU BÔNG TP HCM
    </h3>
    <p style="margin-bottom: 15px; margin: 15px; font-size: 20px; font-family: 'Times New Roman';">
        [Đã ký và đóng dấu]
    </p>
</body>
</html>

