
@{
    ViewBag.Title = "htch";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>

        section{
            padding:10% 5%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            padding: 2px;
            font-family:'Times New Roman'
        }

        th, td {
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>
<body >
    <h1 style="text-align: center; font-family: 'Times New Roman'">HỆ THỐNG TRUNG TÂM - CỬA HÀNG</h1>
    <table>
        <tr>
            <th>Tên</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Số điện thoại</th>
        </tr>
        <tr>
            <td>CỬA HÀNG TP.HCM</td>
            <td>Tầng 5, 828 Sư Vạn Hạnh, phường 13, quận 10, thành phố Hồ Chí Minh</td>
            <td>nssuvanhanh@cuahang.com.vn</td>
            <td>0238-5645472</td>
        </tr>
        <tr>
            <td>CỬA HÀNG TP.HCM</td>
            <td>806 QL22, ấp Mỹ Hoà 3, Hóc Môn, Hồ Chí Minh</td>
            <td>nshocmon@cuahang.com.vn</td>
            <td>0238-8561294</td>
        </tr>
        <tr>
            <td>CỬA HÀNG SÔNG LA</td>
            <td>Tầng 03 TTTM Vincom Hà Tĩnh - Đường Hà Huy Tập - TP Hà Tĩnh</td>
            <td>nssongla@cuahang.com.vn</td>
            <td>0239-3685468</td>
        </tr>
        <tr>
            <td>CỬA HÀNG VINH</td>
            <td>Tầng 2 - Big C Vinh, đường Quang Trung, Thành phố Vinh, Nghệ An</td>
            <td>nsthanhhoa@cuahang.com.vn</td>
            <td>(023) 83.218.383</td>
        </tr>
        <tr>
            <td>SIÊU THỊ LÝ THÁI TỔ</td>
            <td>59-61 Xóm Củi, Q.8, TP.HCM</td>
            <td>nslythaito@cuahang.com.vn</td>
            <td>028-39502683</td>
        </tr>
        <tr>
            <td>SIÊU THỊ ĐỒNG NAI</td>
            <td>Quốc Lộ 1, P. Tân Biên, TP. Biên Hòa, Tỉnh Đồng Nai</td>
            <td>nsdongnai@cuahang.com.vn</td>
            <td>0251-3888077</td>
        </tr>
        <tr>
            <td>CỬA HÀNG CÂY GÕ</td>
            <td>146 Minh Phụng, Q.6, TP.HCM</td>
            <td>nscaygo@cuahang.com.vn</td>
            <td>028-3969238</td>
        </tr>
        <tr>
            <td>CỬA HÀNG CỦ CHI</td>
            <td>Khu phố 5, Quốc Lộ 22, thị trấn Củ Chi, TP.HCM</td>
            <td>nscuchi@cuahang.com.vn</td>
            <td>028-37908050</td>
        </tr>
        <tr>
            <td>CỬA HÀNG AN GIANG</td>
            <td>Siêu Thị Co.op Mart Long Xuyên (Lầu 3) - 12 Nguyễn Huệ A, P. Mỹ Long, TP. Long Xuyên, Tỉnh An Giang</td>
            <td>nsangiang@cuahang.com.vn</td>
            <td>02963.940.020</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BIÊN HÒA</td>
            <td>Siêu thị Co.op Mart Biên Hòa (Lầu 2) Số 121, Phạm Văn Thuận, Phường Tân Tiến, TP. Biên Hòa, Đồng Nai</td>
            <td>nsbienhoa@cuahang.com.vn</td>
            <td>0251-3940342</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BUÔN MA THUỘT</td>
            <td>Siêu thị Co.op Mart Buôn Ma Thuột (Lầu 1) - 71 Nguyễn Tất Thành, P. Tân An, TP. Buôn Ma Thuột, Tỉnh Đăklăk</td>
            <td>nsbmt@cuahang.com.vn</td>
            <td>0262-3957903</td>
        </tr>
        <tr>
            <td>CỬA HÀNG Bà Rịa 2</td>
            <td>TTTM Go! Bà Rịa, số 2A Nguyễn Đình Chiểu, khu phố 1 phường Phước Hiệp, Thành phố Bà Rịa, Bà Rịa Vũng Tàu</td>
            <td>nsbaria2@cuahang.com.vn</td>
            <td>064 3717107</td>
        </tr>
        <tr>
            <td>CỬA HÀNG Bà Triệu</td>
            <td>Tầng 4, TTTM Vincom Bà Triệu, số 191 Bà Triệu, Lê Đại Hành,Hai Bà Trưng,Hà Nội</td>
            <td>nsbatrieu@cuahang.com.vn</td>
            <td>024.32.123449</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BÌNH DƯƠNG</td>
            <td>Siêu Thị Co.op Mart Bình Dương (Lầu 1), đường 30/4, TP. Thủ Dầu Một, Tỉnh Bình Dương.</td>
            <td>nsbinhduong@cuahang.com.vn</td>
            <td>0274-390771</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BÌNH PHƯỚC</td>
            <td>TTTM Đồng Xoài (Lầu 1) - Phú Riềng Đỏ, Tx. Đồng Xoài, Tỉnh Bình Phước</td>
            <td>nsbinhphuoc@cuahang.com.vn</td>
            <td>0271-3865111</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BÌNH THUẬN</td>
            <td>Siêu thị Lotte Mart Phan Thiết (Lầu 1), Khu dân cư Hùng Vương 1, P.Phú Thủy, TP.Phan Thiết, T.Bình Thuận.</td>
            <td>nsbinhthuan@cuahang.com.vn</td>
            <td>0252-3751142</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BÌNH ĐỊNH</td>
            <td>Trung tâm Thương Mại Big C Quy Nhơn, TP.Quy Nhơn, Tỉnh Bình Định.</td>
            <td>nsbinhdinh@cuahang.com.vn</td>
            <td>0256-3535079</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BẠC LIÊU</td>
            <td>Số 109 Trần Huỳnh, Phường 7, TP.Bạc Liêu, Bạc Liêu</td>
            <td>nsbaclieu@cuahang.com.vn</td>
            <td>0291-3958966</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BẢO LỘC - LÂM ĐỒNG</td>
            <td>Siêu thị Co.op Mart Bảo Lộc (Lầu 1), Tháp Nước – Trần Phú – P.2 – TP.Bảo Lộc – Lâm Đồng</td>
            <td>nsblld@cuahang.com.vn</td>
            <td>0263-3927272</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BẮC GIANG</td>
            <td>Trung tâm thương mại Big C Bắc Giang (Tầng 1),Xã Tân Tiến,TP. Bắc Giang,Bắc Giang</td>
            <td>nsbacgiang@cuahang.com.vn</td>
            <td>0204-3555122</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BẮC NINH</td>
            <td>Tầng 2 TTTM Vincom Bắc Ninh ngã 6 Trần Hưng Đạo & Lý Thái Tổ, Phường Suối Hoa,TP. Bắc Ninh,Bắc Ninh</td>
            <td>nsbacninh@cuahang.com.vn</td>
            <td>0222-3908977</td>
        </tr>
        <tr>
            <td>CỬA HÀNG BẾN TRE</td>
            <td>Lầu 1 Sense City Bến Tre, số 26 A Trần Quốc Tuấn, Phường 4, TP.Bến Tre, Bến Tre</td>
            <td>nsbentre@cuahang.com.vn</td>
            <td>0275-3511324</td>
        </tr>
    </table>
</body>
</html>

