
@{
    ViewBag.Title = "KhachThanThiet";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<style>
    body {
        background-color: antiquewhite;
    }

    section {
        padding: 8px 10%;
        max-width: 65%;
        margin: 0 auto;

    }
        body p {
            font-family: 'Times New Roman', Times, serif;
            padding-left: 20px;
            font-size: 1.5rem;
        }
</style>





<body>
    <p style="margin-bottom: 0.11in;" align="center"><span style="font-family: Times New Roman,serif;"><span style="font-size: x-large;"><strong>Chính sách dành cho những khách hàng đã đăng kí thành viên của <strong> Gaubong.com </strong> </strong></span></span></p>
    <p><strong> Chính sách dành cho khách hàng thân thiết: </strong></p>
    <p> Hiện nay, shop đang có những ưu đãi lớn dành cho các thành viên của Gaubong.com, sau đây là các chính sách:</p>

    <p>
        <span style="font-size: 1.5rem;"> <strong>1. </strong>Đối với các thành viên mới tạo tài khoản lần đầu thì sẽ chưa được nhận ưu đãi.</span>
    </p>
    <p>
        <span style="font-size: 1.5rem;"> <strong>2. </strong>Đối với các thành viên tạo tài khoản được <strong>30 ngày</strong> tối đa không vượt quá 5%.</span>
    </p>
    <p>

        <span style="font-size: 1.5rem;"> <strong>3. </strong>Đối với các thành viên tạo tài khoản trên <strong>120 ngày</strong> tối đa không vượt quá 10%.</span>
    </p>
    <p>
        <span style="font-size: 1.5rem;"> <strong>4. </strong>Đối với các thành viên tạo tài khoản trên <strong>9 tháng</strong> tối đa không vượt quá 20%.</span>
    </p>
    <p>
        <span style="font-size: 1.5rem;"> <strong>5. </strong>Đối với các thành viên tạo tài khoản dưới <strong>30 ngày</strong> tối đa không vượt quá 30%.</span>
    </p>
    <p>
        <span style="font-size: 1.5rem;"><strong> Hân hạnh được phục vụ quý khách.</strong></span>

    </p>
</body>

