
@{
    ViewBag.Title = "bocquagiare";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    section {
        font-family: sans-serif;
    }
    .images {
        text-align: center;
    }
    .images img{
        padding-top:30px;
        width:60%;
    }
    .product h1{
        font-size:40px;
        font-style:italic;
        color:deeppink;
    }
    .product-star {
        color: darkgoldenrod;
        font-size: 30px;
    }
    #i1:hover {
        color:yellow;
    }
    #i2:hover {
        color: yellow;
    }
    #i3:hover {
        color: yellow;
    }
    #i4:hover {
        color: yellow;
    }
    #i5:hover {
        color: yellow;
    }
    .images h1 {
        color: deeppink;
        font-size:25px;
    }
    .content{
        padding-left:20%;
    }
</style>
<section >
    <div class="product">
        <h1>Bóc quà giá rẻ </h1>
        <div class="product-star">
            <i id="i1" class="fas fa-star"></i>
            <i id="i2" class="fas fa-star"></i>
            <i id="i3" class="fas fa-star"></i>
            <i id="i4" class="fas fa-star"></i>
            <i id="i5" class="fas fa-star"></i>
            <i>(5/5)</i>       
        </div>
    </div>
    <div class="images">
        <h1>DỊCH VỤ BÓC QUÀ SIÊU XINH GIÁ RẺ </h1>
        <img src="~/Content/images/bocqua1.png" />
        <img src="~/Content/images/bocqua2.jpg" />
        <p>Trong những gói quà siêu xinh này có gì bất ngờ?</p>
        <img src="~/Content/images/bocqua3.jpg" />
        <img src="~/Content/images/bocqua4.jpg" />
        <img src="~/Content/images/bang-gia-boc-qua.png" />
    </div>
    <div class="content">
        <p>Giá Rẻ bất Ngờ cho người nhận</p>
        <div>
            <p>Hãy nén chân không Gấu trước khi bọc quà, bạn sẽ thấy bất ngờ vì</p>
            <ul>
                <li>Hộp quà xinh xắn nên giá Rẻ hơn</li>
                <li>Dễ vận chuyển nên Giá Rẻ hơn</li>
                <li>Người nhận sẽ Bất Ngờ vì hộp quà bé xíu lại có em Gấu Khổng Lồ</li>
            </ul>
        </div>
    </div>
</section>  
