<style type="text/css">
    html {
        font-size: 14px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
        body{
                background-color: lightblue;
            }
    #container{
        border:2px solid #ff0000;
        border-radius: 10px;
        flex:auto;
        margin: 0 auto;
    }
    header{
        background-color:steelblue;
        border: 2px solid #000000;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content:center;
    }
    logo img{
        height: 40px;
        margin-left: 40px;
    }
    nav ul{
        list-style-type: none;
        display: flex;
    }
    nav ul li{
        margin-left: 20px;
        font-size: 1.2em;
    }
    nav ul li a{
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
    }
    
    section{
        background-color: whitesmoke;
        min-height: 300px;
    }
    .row{
        margin: auto;
        display:flex;
        
    }

    .row a{
        color:blue;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container">
        <header>
            @*<div class="logo">
                <img src="~/Content/ha/gau2.jpg" alt="logo" width="200">
            </div>*@
            <nav>
                <ul>
                    <li>
                        
                        <a href="~/Home/Test">GauBong.com<img src=""/></a>

                    </li>
                    <li>
                        <a href=""></a><button>Danh mục sản phẩm<i class="fa-thin fa-list"></i></button>
                    </li>
                    <li>
                        <input type="text" placeholder="Tìm kiếm"/><i class="fa-solid fa-magnifying-glass"></i>
                    </li>
                    <li>
                        <a href=""></a><button>@*<i class="fa-solid fa-cart-shopping">*@Giỏ hàng@*</i*@</button>
                    </li>
                    <li>
                        <a href=""></a><button>Danh sách các sản phẩm<i class="fa-solid fa-caret-down"></i></button>
                    </li>
                    <li>
                        <a href=""></a><button>Đăng ký/Đăng nhập</button>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
                @RenderBody()
        </section>
        <footer>
     <div class="row">
         <style>
             .footer-image-container {
                 margin: auto;
             }
         </style>
         <div class="col-md-4">
             <div style="border-right: 1px solid #cecece;">
                 <div>
                     <div style="margin-bottom: 8px; padding: 10px 11px;">
                         <div style="font-family: Arial; font-size: 1.6rem; font-weight: bold ">Gaubong.com</div>
                         <img src="~/Content/ha/Screenshot_2024-10-02_205322.png" />
                     </div>
                     <div style="font-size:1.2rem;font-family: Arial; ">
                         Lầu 5, 828 Sư Vạn Hạnh, phường 13, quận 10, thành phố Hồ Chí Minh.
                     </div>
                     <div  style="font-size: 1.2rem; font-family: Arial;">
                         Công ty cổ phần Gấu bông Hồ Chí Minh
                     </div>
                     <div  style="font-size: 1.2rem; font-family: Arial;">
                         806 QL22, ấp Mỹ Hoà 3, Hóc Môn, Hồ Chí Minh
                     </div>
                     <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="font-size:13px; padding-top: 5px;"></div>
                     <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="margin: 15px 0px;">
                         <a target="_blank" href="">
                             <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/logo-bo-cong-thuong-da-thong-bao1.png" style="width: 100px;" height="40">
                         </a>
                     </div>
                 </div>
                 <div align="center" style="font-size:14.5px; margin-bottom:20px; margin-top:10px; padding: 0px;text-align: left;margin-left: 10px;">
                     <a target="_blank" href="" title="Facebook">
                         <img alt="Facebook" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/footer/Facebook-on.png">
                     </a>
                     <a target="_blank" href="" title="Instagram">
                         <img alt="Instagram" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/Insta-on.png">
                     </a>
                     <a target="_blank" href="" title="Youtube">
                         <img alt="Youtube" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/Youtube-on.png">
                     </a>
                     <a target="_blank" href="" title="Tumblr">
                         <img alt="Tumblr" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/tumblr-on.png">
                     </a>
                     <a target="_blank" href="" title="Twitter">
                         <img alt="Twitter" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/twitter-on.png">
                     </a>
                     <a target="_blank" href="" title="Pinterest">
                         <img alt="Pinterest" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/pinterest-on.png">
                     </a>
                 </div>
                 <div style="display: inline-block; text-align: left;">
                     <div class="col-sm-6 col-md-6 col-xs-6" style="text-align: right;">
                         
                     </div>
                     <div class="col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;">
                         
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-8">
             <div class="row">
                 <div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
                     <div class="footer-static-title">
                         <h3>DỊCH VỤ</h3>
                     </div>
                     <div class="footer-static-content">
                         <ul>
                             <li class="first"><a href="https://www.fahasa.com/dieu-khoan-su-dung">Điều khoản sử dụng</a></li>
                             <li><a href="">Chính sách bảo mật thông tin cá nhân</a></li>
                             <li><a href="">Chính sách bảo mật thanh toán</a></li>
                             <li><a href="">Giới thiệu cửa hàng</a></li>
                             <li class="last">
                                 <a href="">
                                     Hệ thống trung
                                     tâm - cửa hàng
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
                     <div class="footer-static-title">
                         <h3>Hỗ trợ</h3>
                     </div>
                     <div class="footer-static-content ">
                         <ul>
                             <li class="first"><a href="">Chính sách đổi - trả - hoàn tiền</a></li>
                             <li><a href="">Chính sách bảo hành - bồi hoàn</a></li>
                             <li><a href="">Chính sách vận chuyển</a></li>
                             <li><a href="">Chính sách khách sỉ</a></li>
                         </ul>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
                     <div class="footer-static-title">
                         <h3>Tài khoản của tôi</h3>
                     </div>
                     <div class="footer-static-content">
                         <ul>
                             <li class="first footer_login_link">
                                 <a href="" onclick="return false;">
                                     Đăng
                                     nhập/Tạo mới tài khoản
                                 </a>
                             </li>
                             <li>
                                 <a href="">
                                     Thay đổi địa chỉ
                                     khách hàng
                                 </a>
                             </li>
                             <li>
                                 <a href="">
                                     Chi tiết tài
                                     khoản
                                 </a>
                             </li>
                             <li class="last">
                                 <a href="">
                                     Lịch
                                     sử mua
                                     hàng
                                 </a>
                             </li>
                         </ul>
                         <script>
                             $jq(window).on('myInfo_loaded', function () {
                                 if (fhs_account.isLoggined()) {
                                     $jq('.footer-static-content .login_link').parent().append('<li class="last"><a href="https://www.fahasa.com//tryout/seriesbook/">Sách theo bộ</a></li>');
                                     $jq('.footer-static-content .login_link').remove();
                                 }
                             });
                         </script>
                     </div>
                 </div>
             </div>
             <div class="footer-static-title" style="margin-top: 15px;">
                 <h3>Liên hệ</h3>
             </div>
             <div class="row" style="margin: 5px -5px;">
                 <div class="col-md-4"><em class="fa fa-map-marker" style="font-size:18px">&nbsp;</em>828 Sư Vạn Hạnh, phường 13, quận 10, TP. HCM</div>
                 <div class="col-md-4"><em class="fa fa-envelope" style="font-size:18px">&nbsp;</em>cskh@gaubong.com.vn</div>
                 <div class="col-md-4"><em class="fa fa-phone" style="font-size:18px">&nbsp;</em>1900 186118</div>
             </div>
             <div class="hidden-xs" style="display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 25px; height: 80px; margin-right: 16px;">
                 <div class="footer-image-container">
                     <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/icon_snappy1.png" width="150">
                 </div>
                 <div class="footer-image-container">
                     <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/logo_lex.jpg" width="90">
                 </div>
                 <div class="footer-image-container">
                     <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/Logo_ninjavan.png" width="150">
                 </div>
                 <div class="footer-image-container">
                     <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/ahamove_logo3.png" width="160">
                 </div>
                 <div class="footer-image-container">
                     <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/vnpost1.png" width="100">
                 </div>
             </div>
             <div class="hidden-xs" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 25px; height: 80px; margin-right: 16px;margin-top: 10px;">
                 <div class="footer-image-container">
                     <img style="max-width: 120px;  " src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/vnpay_logo.png">
                 </div>
                 <div class="footer-image-container">
                     <img style="height: 50px; " src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/momopay.png">
                 </div>
                 <div class="footer-image-container">
                     <img style="height: 44px;  " src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/shopeepay_logo.png">
                 </div>
             </div>
         </div>
     </div>
        
    
 </footer>
    </div>
   

</body>
</html>
