
@{
    ViewBag.Title = "batdaumuasam";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    section {
        font-family: sans-serif;
        text-align: center;
    }

    .slider-product-one-content {
        background-color: antiquewhite;
        padding: 12px;
    }

    .slider-product-one-content-items {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 16px;
    }

    .slider-product-one-content-item:hover img {
        transform: translateY(-15px)
    }

    .slider-product-one-content-item {
        width: 20%;
        background-color: white;
        padding: 30px 12px 12px;
        border-radius: 20px;
        cursor: pointer;
    }

        .slider-product-one-content-item img {
            width: 100%;
            transition: all 0.3s ease;
        }

    .slider-product-one-content-item-text li {
        list-style-type: none;
        margin-bottom: 6px;
        font-size: 20px;
        font-size: 15px;
        transform: translateX(-18px);
    }

        .slider-product-one-content-item-text li:hover {
            color: red;
        }

    .slider-product-one-content-item-text {
        padding-top: 12px;
    }

    #de {
        color: red;
        font-size: 20px;
        background-color: antiquewhite;
    }

    .slider-product-one-content-item-text li ins {
        padding-right: 20px;
    }

    h1 {
        color: crimson;
        font-size: 30px;
    }
</style>
<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>VỊT ĐÁNG YÊU</h1>
            </div>
            <div class="slider-product-one-content-items">
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/016.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Vịt tóc xanh(em của Xuân tóc đỏ)</li>
                            <li><small><del>165.000</del></small><ins>đ</ins> <span id="de">-46%</span></li>
                            <li><b>89.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/vitdangiu.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Vịt đáng iu đeo túi hàng cao cấp</li>
                            <li><small><del>95.000</del></small><ins>đ</ins> <span id="de"> -33%</span></li>
                            <li><b>64.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/vitiunuoc.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Vịt yêu nước, chào cờ dễ thương</li>
                            <li><small><del>83.000</del></small><ins>đ</ins> <span id="de"> -40%</span></li>
                            <li><b>50.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/vitiuthuong.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Vịt cute dùng làm gối ôm cho giấc ngủ sâu</li>
                            <li><small><del>150.000</del></small><ins>đ</ins> <span id="de"> -27%</span></li>
                            <li><b>109.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>CAPYPARA</h1>
            </div>
            <div class="slider-product-one-content-items">
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/capypara6.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Capypara chảy mũi siêu đáng yêu</li>
                            <li><small><del>196.000</del></small><ins>đ</ins> <span id="de">-42%</span></li>
                            <li><b>115.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/capypara2.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Capypara nàng tiên cá</li>
                            <li><small><del>166.667</del></small><ins>đ</ins> <span id="de"> -41%</span></li>
                            <li><b>96.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/capypara3.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Capypara phao vịt </li>
                            <li><small><del>100.000</del></small><ins>đ</ins> <span id="de"> -35%</span></li>
                            <li><b>65.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/capypara4.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Capypara cầu thủ bóng chày</li>
                            <li><small><del>320.000</del></small><ins>đ</ins> <span id="de"> -9%</span></li>
                            <li><b>300.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>QUÀ TẶNG NGƯỜI THƯƠNG</h1>
            </div>
            <div class="slider-product-one-content-items">
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/021.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Hộp quà con heo cute</li>
                            <li><small><del>168.000</del></small><ins>đ</ins> <span id="de">-12%</span></li>
                            <li><b>150.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/022.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Hộp quà con mèo cục súc</li>
                            <li><small><del>168.000</del></small><ins>đ</ins> <span id="de"> -12%</span></li>
                            <li><b>150.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/023.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Hộp quà con vịt vô tri </li>
                            <li><small><del>168.000</del></small><ins>đ</ins> <span id="de"> -12%</span></li>
                            <li><b>150.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/024.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Hộp quà con bò cười :))</li>
                            <li><small><del>168.000</del></small><ins>đ</ins> <span id="de"> -12%</span></li>
                            <li><b>150.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content">
                <h1>CÁC CHÚ GẤU BÔNG ĐÁNG YÊU KHÁC</h1>
            </div>
            <div class="slider-product-one-content-items">
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/012.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Hap Kawaii Wallace & Gromit</li>
                            <li><small><del>60.000</del></small><ins>đ</ins> <span id="de">-25%</span></li>
                            <li><b>45.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/013.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Gấu bông Stitch ôm bé vịt siêu dễ thương</li>
                            <li><small><del>180.000</del></small><ins>đ</ins> <span id="de"> -33%</span></li>
                            <li><b>120.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/07.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Bé cáo dễ thương ngây thơ</li>
                            <li><small><del>1220.000</del></small><ins>đ</ins> <span id="de"> -12%</span></li>
                            <li><b>180.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/10.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Pipi Little Pink Dragron đồ chơi sang trọng</li>
                            <li><small><del>220.000</del></small><ins>đ</ins> <span id="de"> -23%</span></li>
                            <li><b>180.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
            </div> <br /> @*##########*@
            <div class="slider-product-one-content-items">
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/meodenthui.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Mèo bông lông đen đáng yêu</li>
                            <li><small><del>112.000</del></small><ins>đ</ins> <span id="de">-40%</span></li>
                            <li><b>80.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/rabit.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Kuriozud siêu dễ thương</li>
                            <li><small><del>266.000</del></small><ins>đ</ins> <span id="de"> -33%</span></li>
                            <li><b>200.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/voixanh.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Gấu bông voi xanh sang trọng</li>
                            <li><small><del>180.000</del></small><ins>đ</ins> <span id="de"> -20%</span></li>
                            <li><b>150.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
                <div class="slider-product-one-content-item">
                    <img src="~/Content/images/whitecat.jpg" />
                    <div class="slider-product-one-content-item-text">
                        <ul>
                            <li>Mèo trắng vô tri cực đáng yêu</li>
                            <li><small><del>150.000</del></small><ins>đ</ins> <span id="de"> -33%</span></li>
                            <li><b>100.000<ins>đ</ins></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


\
