
@{
    ViewBag.Title = "bocquagiare";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    section {
        font-family: sans-serif;
    }

    .images {
        text-align: center;
    }

        .images img {
            padding-top: 30px;
            width: 60%;
            height: 80%;
        }

    .product h1 {
        font-size: 40px;
        color: lightpink;
    }

    .product-star {
        color: darkgoldenrod;
        font-size: 30px;
    }

    .images h1 {
        font-size: 25px;
        color: deeppink;
        font-style: italic;
    }

    .content {
        padding-left: 20%;
    }

    .content-1 {
        font-weight: bold;
        color: purple;
        font-size: 20px;
    }

    .content-2 {
        font-weight: bold;
        color: lightgreen;
        font-size: 20px;
    }

    .content li {
        color: #02C4C1;
    }
</style>
<section>
    <div class="product">
        <h1>Bóc quà giá rẻ </h1>
    </div>
    <div class="images">
        <h1>DỊCH VỤ BÓC QUÀ SIÊU XINH GIÁ RẺ </h1>
        <img src="~/Content/images/bocqua1.png" />
        <p class="content-1">Bọc quà siêu xinh giá cả phải chăng</p>
        <img src="~/Content/images/bocqua2.jpg" />
        <p class="content-1">Trong những gói quà siêu xinh này có gì bất ngờ?</p>
        <img src="~/Content/images/bocqua3.jpg" />
        <p class="content-1">Cô gái nào cũng muốn một hộp quà siêu xinh</p>
        <img src="~/Content/images/bocqua4.jpg" />
        <img src="~/Content/images/bang-gia-boc-qua.png" />
    </div>
    <div class="content">
        <p class="content-1">Giá Rẻ bất Ngờ cho người nhận</p>
        <div>
            <p class="content-2">Hãy nén chân không Gấu trước khi bọc quà, bạn sẽ thấy bất ngờ vì</p>
            <ul>
                <li>Hộp quà xinh xắn nên giá Rẻ hơn</li>
                <li>Dễ vận chuyển nên Giá Rẻ hơn</li>
                <li>Người nhận sẽ Bất Ngờ vì hộp quà bé xíu lại có em Gấu Khổng Lồ</li>
            </ul>
        </div>
    </div>
</section>

