
@{
    ViewBag.Title = "giaohangtannoi";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Giao hàng tận nơi</title>
    <style>
        body {
            background: linear-gradient(white,lightpink);
        }

        .ab {
            color: #f41698;
            text-align: center;
            font-family: sans-serif;
            font-size: 40px;
        }

        .ac {
            text-decoration: none;
            color: black;
        }

        .ad {
            font-size: 25px;
            font-family: sans-serif;
        }

        .images {
            height: 200px;
            float: right;
        }

        .b1 {
            background-color: lightpink;
            padding: 10px;
            border-style: solid;
            border-color: white;
            border-width: 10px;
            border-radius: 40px;
        }

        .b2 {
            background-color: #eec2c2;
            padding: 10px;
            border-style: solid;
            border-color: white;
            border-width: 10px;
            border-radius: 40px;
        }

        .logo {
            float: left;
            height: 21%;
        }

        h3 {
            color: white;
            font-style: italic;
        }

        h1 {
            color: lightpink;
        }

        h2 {
            padding-top: 30px;
        }
    </style>
</head>
<body>
    <section class="ab">
        <div>
            <img class="logo" src="~/Content/images/06.jpg" />
            <h2>Mua gấu liền tay - rinh ngay về nhà </h2>
        </div>
    </section>
    <section class="ad">
        <h1>HƯỚNG DẪN MUA HÀNG</h1>
        <div class="b1">
            <img class="images" src="~/Content/images/03.jpg" />
            <h3>Bước 1: Chọn gấu</h3>
            <ul>
                <li>Chọn tại website: <a class="ac" href="https://gaubongonline.vn/" target="_blank" ;><b>https://gaubongonline.vn/</b></a></li>
                <li>Chọn tại fanpage: <a class="ac" href="https://web.facebook.com/people/T%E1%BA%A1p-ho%C3%A1-g%E1%BA%A5u-b%C3%B4ng/61566636737293/" target="_blank"><b>https://web.facebook.com/gaubongonline.vn/</b></a></li>
                <li>Đầy đủ kích thước, giá, video, sản phẩm.</li>
            </ul>
        </div>  <br />
        <div class="b2">
            <img class="images" src="~/Content/images/01.jpg" />
            <h3>Bước 2: Tư vấn đặt hàng</h3>
            <ul>
                <li><b>Gọi hotline:</b> gọi trực tiếp hoặc chat qua zalo <b>034 817 4951</b> để đặt hàng.</li>
                <li><b>Đặt hàng trên website:</b> Quý khách vui lòng để lại SĐT và sản phẩm, shop sẽ tư vấn cho quý khách.</li>
                <li><b>Inbox fanpage:</b> nhắn tin trực tiếp cho shop để được tư vấn và chốt đơn.</li>
            </ul>
        </div> <br />
        <div class="b1">
            <img class="images" src="~/Content/images/02.jpg" />
            <h3>Bước 3: Chốt đơn</h3>
            <ul>
                <li><b style="color:blue">Hóa đơn < 500K:</b> cung cấp thông tin tên, sdt, địa chỉ và sản phẩm cần đặt, shop sẽ ship <b>COD</b> tận nhà</li>
                <li><b style="color:blue">Hoá đơn > 500K:</b> Vui lòng thanh toán chuyển khoản, hoặc đặt cọc thẻ điện thoại.</li>
                <li>Nếu bạn muốn tặng quà, thanh toán chuyển khoản trước shop sẽ giao hàng đến tận tay người nhận</li>
            </ul>
        </div> <br />
        <div class="b2">
            <img class="images" src="~/Content/images/04.jpg" />
            <h3>Bước 4: Thời gian giao hàng</h3>
            <p>Nội thành<b> Hà Nội và TP.Hồ Chí Minh:</b> 30-90 phút kể đặt hàng hoặc hẹn thời gian ship theo yêu cầu.</p>
            <p><b>Tỉnh khác:</b> Nhân viên bưu điện sẽ giao hàng đến tận nhà</p>
        </div>
    </section>
</body>
</html>
