
@{
    ViewBag.Title = "giatgaubong";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    .images {
        text-align: center;
        padding: 10px;
        color: purple;
        font-size: 20px;
    }

    section {
        font-family: sans-serif;
    }

    .images img {
        padding-top: 20px;
        width: 70%;
    }

    h1 {
        font-size: 40px;
        color: lightpink;
    }

    .product h2 {
        color: deeppink;
        font-size: 25px;
        text-align: center;
        font-style: italic;
    }

    .content {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content-1 {
        font-weight: bold;
        font-size: 20px;
        font-style: italic;
    }

    h2 {
        color: #02C4C1;
    }

    .ac {
        padding: 15px;
        font-size: 15px;
    }

    .ad {
        font-size: 17px;
        font-weight: bold;
        color: #FF6683;
    }

    #a12 {
        font-size: 40px;
        color: #FF6683;
    }

    .ae {
        color: black;
        padding: 15px;
        font-size: 15px;
    }

    .af {
        color: #FF6683;
        font-size: 20px;
        font-weight: bold;
    }
</style>
<section>
    <div class="product">
        <h1>Giặt gấu bông</h1>
        <h2>GIẶT GẤU BÔNG – LÀM MỚI BÔNG GẤU TẠI GAUBONG.COM</h2>
    </div>
    <div class="content">
        <h2>Bao lâu rồi bạn chưa cho gấu iu của mình đi “tắm” nhỉ? </h2>
        <p class="ac">Cũng như những đồ dùng khác trong nhà, gấu bông cần được giặt và khử khuẩn thường xuyên để loại bỏ hết bụi bẩn và vi khuẩn trong quá trình sử dụng. Tuy nhiên không phải ai trong số chúng mình cũng biết giặt gấu đúng cách. Cùng nhà Gấu tham khảo quy trình “chuẩn không tì vết” này nha!!! Nếu bạn đang có ý định tân trang cho gấu bông của mình, đừng quên ghé cửa hàng Gấu Bông gần nhất và sử dụng dịch vụ giặt gấu của chúng mình nhé!</p>
        <h2>QUY TRÌNH GIẶT & KHỬ KHUẨN</h2>
        <p class="ad">BƯỚC 1: Bạn mang gấu bẩn tới Shop và giao cho nhân viên</p>
        <p class="ad">BƯỚC 2: Giặt và Khử Khuẩn. Giá tính theo trọng lượng Bông và loại vỏ Gấu</p>
        <ul class="ac">
            <li>
                Tách vỏ gấu và bông gấu.
                <ul>
                    <li>VỎ: Giặt chuyên nghiệp và sấy khô để đảm bảo khử khuẩn toàn bộ vi khuẩn trên gấu, và có mùi thơm dễ chịu. </li>
                    <li>BÔNG: Phục hồi khả năng ĐÀN HỒI của bông bằng máy Tời. Sau đó soi tia khử khuẩn để loại bỏ nấm mốc và vi khuẩn. Nếu bông không đảm bảo chất lượng, sẽ thay toàn bộ bông mới (được tính theo đơn vị kg)</li>
                </ul>
            </li>
            <li>Khâu lại thành phẩm 1 em Gấu</li>
        </ul>
        <p class="ad">BƯỚC 3: Bạn tới shop đưa gấu bông đã được giặt sạch về nhà!</p>
    </div>
    <div class="images">
        <img src="~/Content/images/giat-gau-bong-1.jpg" />
        <p>Nhanh tay đặt gấu để có thêm nhiều ưu đãi</p>
        <img src="~/Content/images/giat-gau-bong-2.png" />
        <p>Dịch Vụ Khâu Gấu Miễn Phí Có 1 Không 2 Tại Gấu Bông Online</p>
        <img src="~/Content/images/giat-gau-bong-3.png" />
        <p>Dịch Vụ Làm Mới Bông Và Nhồi Thêm Bông</p>
    </div>
    <div class="images">
        <p id="a12">————————————–</p>
        <div>
            <h2>HƯỚNG DẪN GIẶT TẠI NHÀ</h2>
            <p style="font-style:italic">(Chống chỉ định với những người lười)</p>
        </div>
    </div>
    <div class="content">
        <ul class="content-a">
            <li>
                <p class="af">Bước 1: Hoà bột giặt vào chậu</p>
                <p class="ae">Để các em gấu bông của chúng ta vừa được sạch sẽ mà lại không quá nồng nặc mùi bột giặt, chúng ta chỉ nên cho một lượng bột giặt vừa đủ thôi các bạn nhé. Sau đó hoà tan bột giặt vào trong nước</p>
            </li>
            <li>
                <p class="af">
                    Bước 2: Vò sạch toàn thân em gấu
                </p>
                <p class="ae">Cho em gấu xinh xắn nhưng không mấy sạch sẽ kia vào nước xà phòng đã hoà tan ở bước 1 và tiến hành vò. Cách tốt nhất là nên dùng hai tay xoa vào lớp lông ngoài cùng cho sạch các bụi bẩn. Tuyệt đối không dùng bàn chải để giặt gấu nhé</p>

            </li>
            <li>
                <p class="af">
                    Bước 3: Xả hết xà phòng
                </p>
                <p class="ae">Sau khi đã vô sạch lớp lông bên ngoài , chúng ta đặt em gấu bông đầy bọt xà phòng kia xuống dưới vòi hoa sen, sau đó xả nước cho trôi đi tất cả bọt xà phòng và các bụi bẩn trong đó theo chiều từ đỉnh đầu xuống</p>
            </li>
            <li>
                <p class="af">
                    Bước 4: Rũ sạch nước
                </p>
                <p class="ae">Sau khi đã xả xong ở bước 3, đảm bảo em gấu bông của chúng ta đã rất thơm tho mùi bột giặt rồi nhưng toàn thân ướt sũng do thấm rất nhiều nước. Bây giờ, công việc tiếp theo là chúng ta phải làm giảm nước bằng cách ấn vào thân gấu theo chiều từ trên xuống. Không nên làm hết nước bằng cách xoắn con gấu lại vì như thế lông gấu sẽ bị mất nếp khi khô</p>
            </li>
            <li>
                <p class="af">
                    Bước 5: Tắm nắng
                </p>
                <p class="ae">Ở bước này, chúng ta chỉ cần treo em gấu dưới ánh nắng mặt trời và đợi cho khô là xong. Lưu ý là nên chọn chỗ phơi thật thoáng và nên chọn ngày năng to để giặt nhé vì nếu các bạn giặt gấu vào ngày nắng yếu, không khô kiệt thì em gấu bông của chúng ta sẽ chẳng được thơm tho mùi nắng đâu</p>
            </li>
            <li>
                <p class="af">
                    Bước 6: Chải lông
                </p>
                <p class="ae">Đây là bước cuối và cũng khá quan trọng để đưa em gấu bông của chúng ta được trở lại vẻ đẹp như cũ với bộ lông óng mượt. Bạn hãy dùng một chiếc lược nhỏ, khẽ chải lông cho em ý theo chiều lông của nó (không trải ngược chiều nhé).</p>
            </li>
        </ul>
    </div>
</section>


