
@{
    ViewBag.Title = "tangthiepmienphi";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    .images {
        text-align: center;
        padding: 10px;
    }

    section {
        font-family: sans-serif;
    }

    .images img {
        padding-top: 30px;
        width: 60%;
        height: 80%;
    }

    h1 {
        font-size: 40px;
        color: lightpink;
    }

    .images h1 {
        font-size: 25px;
        color: deeppink;
        font-style: italic;
    }

    .content {
        padding-left: 15%;
    }

    .content-1 {
        font-weight: bold;
        font-size: 20px;
        color: purple;
    }

    .content li {
        color: #02C4C1;
        padding: 5px;
    }
</style>
<section>
    <h1>Tặng thiệp miễn phí</h1>
    <div class="images">
        <h1>
            Tặng thiệp miễn phí tại Shop GauBong.com
        </h1>
        <img src="~/Content/images/04_Tangthiep-01.png" />
        <img src="~/Content/images/tang-thiep-mien-phi-1.jpg" />
        <img src="~/Content/images/tang-thiep-mien-phi-2.jpg" />
        <p class="content-1">Một tấm thiệp nhỏ chứa tình cảm chân thành</p>
        <p class="content-1">luôn khiến người được tặng lâng lâng ngập tràn hạnh phúc</p>
        <img src="~/Content/images/tang-thiep-mien-phi-3.jpg" />
        <p class="content-1">Mua gấu bông tặng thiệp Miễn Phí</p>
        <img src="~/Content/images/tang-thiep-mien-phi-4.jpg" />
        <p class="content-1">Cô gái nào cũng háo hức nhận quà với 1 tấm thiệp đầy ý nghĩa</p>
    </div>
</section>
<section class="content">
    <p class="content-1">Một số lời chúc ý nghĩa để bạn tham khảo:</p>
    <ul>
        <li>Nhân ngày sinh nhật, anh chúc em nhan sắc “quyết liệt” thăng hoa, tiền tài ào ào thăng tiến và tình yêu “tưng bừng” bùng nổ.</li>
        <li>Tình yêu là gì? Người không thích gọi đó là trách nhiệm. Người chơi bời gọi đó là trò chơi. Người không có gọi đó là giấc mơ. Người hiểu biết gọi đó là số phận. Còn anh, anh gọi tình yêu là em.</li>
        <li>Khi trời mưa, em chẳng thấy mặt trời nhưng mặt trời vẫn ở đó. Hi vọng chúng ta cũng như thế. Chúng ta không thường xuyên nhìn thấy nhau nhưng chúng ta vẫn nghĩ về nhau.</li>
        <li>Ôi anh quên mất tên em rồi. Anh gọi em là “người yêu” nhé! Nếu em cũng quên tên anh luôn, thì cứ gọi anh là “người yêu” .</li>
        <li>Nếu em ghét anh, hãy dùng cung tên bắn anh nhưng đừng nhắm vào trái tim anh em nhé. Vì em luôn ở nơi đó!</li>
    </ul>
</section>
